body {
   background-color: aquamarine;
}

.container {
   border: black 2px solid;
   width: 95%;
}

.leftList {
    width: 50%;
    float: left;
}

.rightList {
    width: 50%;
    float: right;
}

.footer {
    width: 100%;
    background-color: green;
    position:fixed ;
}